<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="i5b5.daniel.serszen.pz.model.mybatis.mappers.CarMapper">

    <resultMap id="carMap" type="i5b5.daniel.serszen.pz.model.mybatis.dto.Car">
        <result column="CAR_ID" property="id"/>
        <result column="CAR_BRAND" property="brand"/>
        <result column="CAR_MODEL" property="model"/>
        <result column="CAR_PRODUCTION_START_DATE" property="productionStart" typeHandler="i5b5.daniel.serszen.pz.model.mybatis.typehandlers.DateCalendarTypeHandler"/>
        <result column="CAR_PRODUCTION_END_DATE" property="productionEnd" typeHandler="i5b5.daniel.serszen.pz.model.mybatis.typehandlers.DateCalendarTypeHandler"/>
        <result column="CAR_IMAGE_URI" property="imgUri"/>
    </resultMap>

    <insert id="insertCar">
        <selectKey keyProperty="id" resultType="java.lang.Long" order="BEFORE">
            SELECT car_seq.nextval as id
            from dual
        </selectKey>
        INSERT INTO CAR_DICT
        VALUES (#{id},
                #{car.brand},
                #{car.model},
                TO_DATE(#{car.productionStart},'YYYY-MM-DD'),
                TO_DATE(#{car.productionEnd},'YYYY-MM-DD'),
                #{car.imgUri})

    </insert>


    <select id="getCarsByBrand" resultMap="carMap">
        <include refid="basicCarSelect"/>
        WHERE CAR_BRAND = #{brand}
    </select>
    <select id="getAllCars" resultMap="carMap">
        <include refid="basicCarSelect"/>
    </select>
    <select id="getCarsByModel" resultMap="carMap">
        <include refid="basicCarSelect"/>
        WHERE CAR_MODEL = #{model}
    </select>

    <delete id="deleteCarsByBrand">
        DELETE FROM CAR_DICT
        WHERE CAR_BRAND = #{brand}
    </delete>
    <delete id="deleteCarsByBrandAndModel">
        DELETE FROM CAR_DICT
        WHERE CAR_MODEL = #{model}
    </delete>
    <delete id="deleteCarsByBrandModelAndProductionDate">
        DELETE FROM CAR_DICT
        WHERE CAR_BRAND = #{brand}
        AND CAR_MODEL = #{model}
        AND TO_CHAR(CAR_PRODUCTION_START_DATE,'YYYY-MM-DD') = #{productionStartDate}
        AND TO_CHAR(CAR_PRODUCTION_END_DATE,'YYYY-MM-DD') = #{productionEndDate}
    </delete>
    <delete id="cascadeDelete">
        DELETE FROM CAR_PART_REL
        WHERE CAR_ID = #{id}
    </delete>

    <sql id="basicCarSelect">
        SELECT
            CAR_ID,
            CAR_BRAND,
            CAR_MODEL,
            CAR_PRODUCTION_START_DATE,
            CAR_PRODUCTION_END_DATE,
            CAR_IMAGE_URI
        FROM CAR_DICT
    </sql>
</mapper>
